# Application
APP_ENV=local
APP_DEBUG=true

# MySQL
MYSQL_DATABASE=onewatch
MYSQL_USER=onewatch_user
MYSQL_PASSWORD=password
MYSQL_ROOT_PASSWORD=root

# Frontend
VITE_BACKEND_URL=http://localhost:8000/api
VITE_TMDB_API_KEY=
VITE_TMDB_BASE_URL=https://api.themoviedb.org/3
